n8n-projects/speak_memo_v1.json
{
  "name": "speak-memo-v1",
  "nodes": [
    {
      "parameters": {
        "options": {
          "timezone": "America/Sao_Paulo"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -640,
        -860
      ],
      "id": "8adeaeda-6ac2-4ee8-a28f-60e0392fb87f",
      "name": "GetTimeCurrent"
    },
    {
      "parameters": {
        "jsCode": "const date = new Date($json[\"currentDate\"]);\n\nconst minutes = date.getMinutes();\nconst hours = date.getHours() - 3;\n//const day = date.getDate();\n//const month = date.getMonth() + 1; // meses vão de 0 a 11\n//const dayOfWeek = '*'; // ou calcule com date.getDay() se quiser\n\n//const cron = `${minutes} ${hours} ${day} ${month} ${dayOfWeek}`;\nconst cron = `${minutes} ${hours} * * *`;\n// const cron = `30 9 * * *`;\n\nreturn [{ json: { cronExpression: cron } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        -860
      ],
      "id": "e052dac7-b1a2-4a8c-960d-065755635c3e",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=http://svc-speak-memo-backend.speak-memo.svc.cluster.local/messages/?cron_expression={{ $json.cronExpression }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        -860
      ],
      "id": "d288d094-09f2-4a5a-b071-c222aa7ddde0",
      "name": "speak-memo-backend"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -820,
        -860
      ],
      "id": "5b616443-a3cb-4750-8cb8-a72f265cad2e",
      "name": "start-every-minuto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://svc-kokoro.kokoro.svc.cluster.local/v1/audio/speech",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"kokoro\",\n  \"voice\": \"{{ $json.voice }}\",\n  \"input\": \"{{ $('speak-memo-backend').item.json.text }}\",\n  \"speed\": 0.8,\n  \"language\": \"en\"\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        -660
      ],
      "id": "e7add8e6-d5e6-4e2e-9798-82efdc392664",
      "name": "kokoro-tts"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "834f2a2b-c12d-4c9d-9820-d9a52f76835e",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": "={{ 0 }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        -860
      ],
      "id": "a310f6a5-32a7-45d2-8665-2f52271b6401",
      "name": "If"
    },
    {
      "parameters": {
        "functionCode": "const voices = [\n  \"af_bella\", \"af_nicole\", \"af_sarah\", \"af_sky\",\n  \"bf_emma\", \"bf_isabella\",\n  \"am_adam\", \"am_michael\", \"bm_george\", \"bm_lewis\"\n];\nconst randomVoice = voices[Math.floor(Math.random() * voices.length)];\n\nreturn [\n  {\n    json: {\n      voice: randomVoice\n    }\n  }\n];"
      },
      "id": "473cf1ca-c0ff-48bd-b9be-8940897d1395",
      "name": "Get-Random-Voice",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -620,
        -660
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('GetTimeCurrent').item.json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-LL-yyyy/TT",
        "outputFieldName": "=formattedDate",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -820,
        -660
      ],
      "id": "0f0a6382-eb70-4060-97de-3acc56ff26e8",
      "name": "Format-Date-Time-Post-Minio"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('GetTimeCurrent').item.json.currentDate }}",
        "format": "custom",
        "customFormat": "dd/LL/yyyy - TT",
        "outputFieldName": "=formattedDate",
        "options": {
          "timezone": true
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        0,
        -660
      ],
      "id": "b59d96c0-7507-4092-ad70-3c232220b26e",
      "name": "Format-Date-Time-Post-Audio-Minio"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "=speakmemo",
        "fileName": "=/queue-play/{{ $('Format-Date-Time-Post-Minio').item.json.formattedDate }}.mp3",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -220,
        -660
      ],
      "id": "5af6c2a0-0835-4097-be4b-a0fb89f00c3f",
      "name": "S3-Upload-Voice",
      "credentials": {
        "s3": {
          "id": "w7pdpt1NwHoR2zCE",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "queue": "00_speak_memo_audio_process_play",
        "sendInputData": false,
        "message": "={\n  \"text\": \"{{ $('speak-memo-backend').item.json.text }}\",\n  \"pronunciation\": \"{{ $('speak-memo-backend').item.json.pronunciation }}\",\n  \"meaning\": \"{{ $('speak-memo-backend').item.json.meaning }}\",\n  \"reply\": {\n    \"text\": \"{{ $('speak-memo-backend').item.json.reply_text }}\",\n    \"pronunciation\": \"{{ $('speak-memo-backend').item.json.reply_pronunciation }}\",\n    \"meaning\": \"{{ $('speak-memo-backend').item.json.reply_meaning }}\"\n  },\n  \"voice\": \"{{ $('Get-Random-Voice').item.json.voice }}\",\n  \"file\": \"{{ $('Format-Date-Time-Post-Minio').item.json.formattedDate }}.mp3\",\n  \"type\": \"{{ $('speak-memo-backend').item.json.type }}\",\n  \"context\": \"{{ $('speak-memo-backend').item.json.context }}\",\n  \"routine\": \"{{ $('speak-memo-backend').item.json.routine }}\",\n  \"datetime\": \"{{ $json.formattedDate }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        200,
        -660
      ],
      "id": "58486fa8-ceb7-4fe9-8f62-c0ab8df18e34",
      "name": "00_speak_memo_audio_process_play",
      "credentials": {
        "rabbitmq": {
          "id": "G3vzUbcAvacKyFsH",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://192.168.15.36:8000/messages/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cron_expression",
              "value": "0 9 * * *"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -420
      ],
      "id": "82fd72b2-a647-403f-bb67-79190abd1403",
      "name": "DEV-speak-memo-backend"
    },
    {
      "parameters": {
        "url": "=http://svc-speak-memo-backend.speak-memo.svc.cluster.local/messages/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cron_expression",
              "value": "0 9 * * *"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        -420
      ],
      "id": "5424ed13-7168-4447-8c0e-5a3294686785",
      "name": "PRD-speak-memo-backend"
    }
  ],
  "pinData": {},
  "connections": {
    "GetTimeCurrent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "speak-memo-backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start-every-minuto": {
      "main": [
        [
          {
            "node": "GetTimeCurrent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "speak-memo-backend": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Format-Date-Time-Post-Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-Random-Voice": {
      "main": [
        [
          {
            "node": "kokoro-tts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format-Date-Time-Post-Minio": {
      "main": [
        [
          {
            "node": "Get-Random-Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kokoro-tts": {
      "main": [
        [
          {
            "node": "S3-Upload-Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format-Date-Time-Post-Audio-Minio": {
      "main": [
        [
          {
            "node": "00_speak_memo_audio_process_play",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "S3-Upload-Voice": {
      "main": [
        [
          {
            "node": "Format-Date-Time-Post-Audio-Minio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3f1f83f2-dae7-4fbd-9bd7-79c8ef7367d3",
  "meta": {
    "instanceId": "66a3c10f0a6579f8f080184ed59b4d630266bf0739abc44951b886256ef7409e"
  },
  "id": "RyQ9KM50nfCzFa3b",
  "tags": []
}